ul li {
list-style: none;
cursor: pointer;
padding: 12px 8px 12px 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.jumbotron{
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding:10px;
}
.card{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5px;
}
ul li span{
   
    right:0;
    top:5px;
    width:10px;
    height: 40px;
    font-size: 22px;
    color: #8f7e7e;
    line-height: 40px;
    padding: 10px 10px;
}
ul li span:hover{
    background:#555;
    
}
button{
    background: #293856;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    border-radius: 40px;
}
.input{
    background: #555;
    display: flex;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
  
    align-items: center;
}
input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    
}
h3{
    color: rgb(16, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
}
input::placeholder{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
footer{
    color: #fff;
    
}